body{
    margin:0;
    background-image: url('https://wallpaperaccess.com/full/4230678.jpg');
    background-size: cover ;
    background-repeat: no-repeat;
    max-width:100%;    
    background-position: center center;
    background-attachment: fixed;
    box-sizing: border-box;
    
}

/*====Typography====*/
body{
    font-size:22px;
    color:wheat;
}

#title{
    font-size:38px;
}

label{
    font-size: 22px;
    font-family:Arial, Helvetica, sans-serif;
    
}

#submit{
    font-size:24px;
}

::placeholder{
    font-size: 15px;

}



/*====Layout====*/
#form{
    margin:0 auto;  
    text-align: left;
    background-color:#808080;
    max-width:100%;
    width:650px;
    padding:10px 20px;
    opacity: 0.75;
    border-radius:10px;

}


header{
    margin:0 auto;  
    text-align: center;
}


#sub-form{
margin:30px 0px;


}

[type~="radio"] ,[type~="checkbox"]  {
    margin:10px 10px ;
        
}

[type~="text"],[type~="email"],[type~="number"], #dropdown{
    border-radius:10px;
    padding:10px;
    width:550px;   
}

textarea{
    padding:0px 10px;
    height:100px;
    margin:10px auto;
} 

#submit{
    padding:10px 10px;
    background-color:#58af4f ;
    color:white;
    margin:0 auto;
    width:100%;
    border-radius:15px;

}

#submit:hover{
    background-color: lightseagreen;

}

label{
    margin:20px auto;
    

}




