body{
    margin:0;
    background-image: url('https://wallpaperaccess.com/full/4230678.jpg');
    background-size: cover ;
    background-repeat: no-repeat;
    max-width:100%;    
    background-position: center center;
    background-attachment: fixed;
    box-sizing: border-box;
    
}

/*====Typography====*/
body{
    font-size:22px;
    color:wheat;
}

#title{
    font-size:38px;
}

label{
    font-size: 22px;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom:20px;
}

/*====Layout====*/
#form{
    margin:0 auto;  
    text-align: left;
    background-color:#808080;
    max-width:100%;
    width:600px;
    padding:10px 20px;
    opacity: 0.5;
    border-radius:10px;

}


header{
    margin:0 auto;  
    text-align: center;
}

[type~="radio"] ,[type~="checkbox"]  {
    margin:10px 10px ;
    
}

[type~="text"], #dropdown{
    border-radius:10px;
    padding:10px;
    width:550px;   
}

textarea{
    /* border:2px red solid; */
    padding:0px 10px;
    height:100px;
    margin:10px 20px;
}

#submit{
    padding:10px 10px;
    background-color:#58af4f ;
    color:white;
    margin:0 40px;
    width:550px;

}

.sub-headings{
    margin:15px 0px;

}


