body{
    margin:0;
    font-size:0.75rem;
    background-color: #EEEEEE;
    
}

/*====Typography===*/

h2{
    font-size:1.5rem;

}

.offers-content-subtitle{
    font-size:1rem;
}

.card-title{
    font-size:1.0rem;
    margin:0;
}

.card ul{
    font-size: 1.5em;
}

.footer-links{
    font-size: 1.25rem;
    text-decoration: none;
    color:black;
}

.footer p{
    font-size:0.75rem;
}


/*====Layout===*/
.container{
    width:100%;
    display:flex;
    align-items: center;
}


.nav-bar-container{
    /* position: fixed; */
    background-color: rgb(228, 216, 216);
    display: flex;
    justify-content: space-between;
    
}

#header-img{
    max-width:100px;
    width:100%;
}

.subscribe{
    margin:0 auto;
    text-align: center;
    width:20%;
}

#form{
    padding:1em;
}

#email{
    padding:1em;
}

#submit{
    margin:0 auto;
    margin-top:1em;
}

.offers{
    width:60%;
    margin:0 auto;  
}

.description{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:1em;
}

.icon{
    max-width: 300px;
    width: 10%;
}


.offers-content {
    margin:0 3em;
}

.offers-content-subtitle,.offers-content-title{
    margin:0;
}

#video{
    width:50%;
    margin:0 auto;

}

#pricing{
    display: flex;
    justify-content: center;
    width:100%;
    padding:1em 0;
}

.card{
border:1px solid black;
margin:2em;
display: flex;
flex-direction: column;
text-align: center;
width:15%;
}

.card-title{
    background-color: gray;
    width: 100%;
    
}

.card ul{
    list-style: none;
    padding:0;
    margin:0;
    margin-bottom:2em;

}


.footer{
    width:51%;
    margin:0 auto;
    text-align:right;
    background-color: #CFCFCF;
}

.footer-links{
    padding:0.25em;
}

/*====Buttons====*/

.btn-link{
    
    display: block;
    margin:0 auto;
    background-color: orange;
    border:1px solid orange;
    padding:0.1em 0.3em;   
    text-decoration: none;
    color:black;
    font-size:1.5rem;
    font-weight: bold;
}


.btn-link:hover, .btn-link:focus{
    background-color:#ff3c00;
    transition-timing-function:ease-in;
    transition-delay: 0.25s;
    transition-duration:1s;
}

.btn-select{
    text-decoration: none;
    padding:0.5em 1.2em;
    color:black;
    background-color: orange;
    font-size: 1.5em;
}

.btn-select:hover, .btn-select:focus{
    background-color:#ff3c00;
    transition-timing-function:ease-in;
    transition-delay: 0.25s;
    transition-duration:1s;
}



/*====Nav-bar===*/
#nav-bar{
   width:50%;
}

#nav-bar ul{
    list-style: none;
    padding:0;
    margin:0;
    display: flex;
    justify-content: space-around;
     
}


.nav-link {
    font-size:1.0rem;
    font-weight: 400;
    color:black;
    text-decoration: none;
}

.nav-link:hover, .nav-link:focus {
   color:#ff3c00;
   border-bottom:1px solid #ff3c00;
   padding-bottom:0.5em;  
   transition-timing-function:ease-in;
   transition-delay: 0.25s;
   transition-duration:0.25s; 
}


/*====Media queries===*/

@media(max-width:1000px){
    .container{
        flex-direction: column;
        /* border:2px solid red; */

    }

    .logo{
        width: 100%;
        text-align: center;

    }
    #nav-bar{
        width:100%;

    }
 
    .subscribe{
        width:50%;

    }

    .offers{
        width:85%;

    }

    .card{
        width:25%;

    }

    .footer{
        width:100%;

    }

}


@media(max-width:866px){
    .container{
        flex-direction: column;
        

    }

    #nav-bar ul {
        flex-direction: column;
        text-align: center;
                        
    }

    #nav-bar{
        width:100%;
        
    }   


    #nav-bar li{
        /* border:2px red solid; */
        padding:1.5em 0;
    }

    .subscribe{
        width:100%;

    }
    
    #video{
        width:70%;

    }
   
    #pricing{
        flex-direction: column;
        justify-content: space-between;

    }

    .card{
        width:90%;
        
    }

}




