:root{
    --orange--card:#E28525;
    --turquoise--card:#2BB3B1;
    --light-blue--card:#4ABEBD;
 }


*{
    box-sizing: border-box;
    padding:0;
    margin:0;
}

body{
    font-size:0.9rem;
    letter-spacing:1.2px ;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height:100vh;
    background-color:#E6EFF6;
    font-family: 'Open Sans', sans-serif;
}

.price-card> * , .offer-card > * , .main-content > *{
    margin-left:36px;
}



h1{
    font-size:1.50rem;
    padding:0.5em 0;
    color:var(--turquoise--card)
    
}

h2{
    font-size:1.25rem;
}

.price-card-price{
    font-size:1.50rem;
    }

.price-card-period{
    font-size:0.9rem ;
}

.support-content{
    color:white;

}

.main-container{
    width:80%;
    background-color:gainsboro;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 375px;
}

.main-content-description,.price-card-description,.offer-card-description{
    padding:1em 5em; 
    padding-left:0;
}

.price-card,.main-content,.offer-card{
    padding:3.5em 1em;
} 

/*main content*/


.main-content{
    background-color: white;
    border-radius:3% 3% 0% 0%;
    margin:0;
}


.main-content-sub-title{
    color:#BFDF32;
    font-weight: bolder;
}

.main-content-description{
color:gray;
}


/*price-card*/

.price-card{
    background-color: var(--turquoise--card);
    width:100%;
    margin:0 auto;
    padding-bottom:2em;
}

.price-card-title{
    margin-bottom:1em;
    padding-top:0;
}

.price-card-description{
    padding-top:0;

}

.price-card-period{
    margin-left:0.5em;
    color:lightgray

}

.button{
    padding-bottom:0.5em;
    text-align: center;
    margin:0 36px;  
}

.btn{
    text-decoration: none;
    background-color: #BFDF32;
    color:white;
    width:75%;
    padding:1em 2.5em;
    border-radius:5px;
    font-weight: bolder;
    display: block;     
}

.btn:hover,.btn:focus{
    background-color:white;
    color: #BFDF32;
    transition:all 0.5s ease-out;
    transform:scale(1.1);
}

/*offer-card*/

.offer-card{
    background-color: var(--light-blue--card);
    border-radius:0% 0% 3% 3%;
}


@media screen and (min-width:650px){
    .main-container{
        max-width:750px;

    }

    .support-content{
        display: flex;
        flex-direction: row;
    }

    .price-card,.offer-card{
        width:50%;
    }

    .price-card{
        border-bottom-left-radius: 3%;

    }

    .offer-card{
        border-bottom-left-radius: 0;

    }

}




