body{
    margin:0;
    font-size: 1rem;
}

h1{
    font-size: 3rem;    
}

h2{
 font-size: 2rem;
 }

h1,h2{
    color:whitesmoke;
    padding:0.5em;
}

h1,h2,p{
    margin:0;
}

/*Typography*/

.subtitle{
    color:#B52F40;
    font-size: 1.50rem;
    padding:0.5em;
}




/*Layout*/

.container{
    width:100%;
    max-width:2500px;
    /* border:2px red solid; */
}


/*navbar*/

.container-nav{
    background-color: #B52F40;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;  
    padding:0;
    }


#navbar{
    
    display: flex;
    justify-content: flex-end;
    /* padding:0.5em 0; */
}

#navbar ul{
    list-style: none;
    padding:0;
    margin:0;
    display: flex;
    justify-content: center;    
}

#navbar li{
    padding:1em 0;
    margin:0em 1em;
}

#navbar a {
    text-decoration: none;
    font-size:1.25rem;
    color:white;
    padding:1em ;
    
}

#navbar a:hover,#navbar a:focus  {
       background-color:#45567D ;
}

/*welcome-secton*/
.container-welcome-section{
    max-height:100vh;
}
#welcome-section{
    background: linear-gradient(#0a0a11,#2b2a2a);
    height:100vh;   
    
}

.welcome-section-title{
    text-align: center;
    transform: translateY(30vh);
}


/*Project secton*/

.container-projects{
    background-color: #45567D;
}

#projects{
    text-align: center;
    width:90%;
    margin:0 auto;
    padding:6em 1em ;
}

.project-heading{
border-bottom:2px white solid;
margin-bottom:1em;
}


#project-tile-container{
    display: flex;
    justify-content: space-around;
    flex-flow:wrap;

}

.project-tile{
    width:40%;
    margin-bottom: 2em;    
}

.project-tile:hover,.project-tile:focus{
    background-color: #303841;
    opacity:.5;


}



.project-tile-title{
    color:white;
    background:black;
    opacity:0.6;
    text-align: center;
    padding:0.5em;
}

.project-tile img {
  max-width:100%;
  max-height:100%;
  width:100%;
  height:90%;
  object-fit: cover;
  object-position: center;
  display: block;
}

.project-tile a{
    text-decoration: none;
}


.btn-show-all{
    padding:1em;
}

.btn-show-all a{
    text-decoration: none;
    color:white;
    padding:0.5em 1em;
    border:1px black solid;
    background-color: black;
    opacity: 0.6;
}

.btn-show-all a:hover,.btn-show-all a:focus{
    background-color:#B52F40 ;
    transition-delay: 0s;
    transition-duration: 0.3s;
    transform-style: ease-out;
    border:1px #B52F40 solid;
    opacity:1;
}

/* .hide{
    color:orangered;
    display: none;

}

.project-tile a:hover ~ span ,.project-tile a:focus ~  span{
    display: visible;
    color:red;

} */

/*contact secton*/

.container-contact{
    background-color: #303841;
    padding:5em;
    border-bottom:#B52F40 2px solid;
}

.contact-title{
    text-align: center;
    margin-top:0;
    padding:0;
    margin-bottom:2em;
    color:white;
}

.contact-title h2{
    padding:0;
}

.contact-links{
    text-align: center;
    display:flex;
    justify-content: space-around;
    margin-right:2em;
    
    
}

#profile-link{
    text-decoration: none;
    color:white;
}

#profile-link:hover,#profile-link:focus{
    /* transition:ease-in; */
    transition-duration: 2s;
    transition-delay: 0.25s;
    color:#B52F40;
    padding-top:0.5em;

} 

#profile-link img{
    max-width:100px;
    width: 15%;  
}


/*footer secton*/
.container-footer{
    background-color: #303841;
    padding:1.5em;
}

.footer-section{
    display:flex;
    font-size: 0.75rem;
    color:white;
    justify-content: space-between;

}
