:root{
    --bg-menu:rgba(151, 144, 144, 0.692);

}

*{
    box-sizing: border-box;
}


body{
    margin:0
}


.btn-search{
    display: inline-block;
    margin-top:0;
}


/*Typography*/

body{
    font-size:1rem;
    letter-spacing: 0.5px;
    line-height:1.5;
}

h1{
    font-size:2rem;
}

h2{
    font-size:1.5rem;
    text-transform:uppercase;
}

/*Layout*/

.container-wide{
    width:100%;
    margin:0 auto;
}

.container-narrow{
    width:100%;
    margin:0 auto;
}

.page-sub-title{
    margin:0;
    padding:0.5em 0;
    margin:0.5em 0;
    text-align: left;
}

.page-number-list{
    padding:0.5em 0;
}


/*header*/
.header{
    background-color:  var(--bg-menu);
    padding:0.5em;
    margin-bottom: 0.5em;
}

header ul{
    display: flex;
    padding:0;
    margin:0;
    margin-bottom:0;  
}

.page-number {
    list-style:none;
    padding:0.5em;
    margin-left:0.5em;
}

.page-number a{
    text-decoration: none;
    color:steelblue;
}

.search{
    padding:0.5em;
    margin-left:0.5em;
} 

#search-input{
    padding:0.75em ;
    /* margin-top:0.25em; */
}

.btn {
    text-decoration: none;
    color:white;
}

.btn-search{
    background-color:steelblue;
    padding:0.5em 1.25em;
    margin-left:0.6em;
}



@media (min-width:650px){
    body{
        background-color: wheat;

    }

    .header{
        display: flex;
        justify-content: space-between;
    }

}



/*logo-container*/

.logo-container {
    margin:0 auto;
    padding:1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--bg-menu);
}

.logo {
display:block;
max-width:100%;
order:-1;
}



@media (min-width:650px){
.logo-container{
    flex-direction: row;
    justify-content:space-around;
}

.site-title{
    order:-1;
    
}

.logo{
    max-height:70vh;
    height:90vh;
}

}


/*nav-bar*/
.menu{
text-align: center;
background-color: var(--bg-menu);
}

.nav-bar{
    /* display:none */
    transform:scale(1,0);
    transform-origin: top;
    transition : transform 200ms ease-in-out;
}

.nav-bar ul{
    list-style: none;
    padding:0;
    margin:0;
    background-color: var(--bg-menu);
}


.nav-bar a{
    text-decoration: none;
    color:green;
    display:block;
    /* opacity:0; */
    
}

.nav-bar-checkbox{
    display:none;

}
.nav-bar-checkbox:checked ~ nav{
    transform:scale(1,1);
    opacity:1;
}

.menu-icon,.menu-icon::before,.menu-icon::after{
display:block;
background-color: forestgreen;
height:2px;
width:2em;
border-radius:2px;
position:relative;
bottom:160px;
left:0;
}

.menu-icon::before,.menu-icon::after{
    content:"";
    position:absolute;
}
.menu-icon::before{
    bottom:7px;
}

.menu-icon::after{
    top:7px;

}


@media (min-width:550px) {
    
    .nav-bar ul{
        display: flex;
        justify-content: space-around;
        padding:1em;
    }
  

}

/*promoted-article-section*/

.promoted-article-section{
    text-align: center; 
    padding:1em;
}

.promoted-article{
    display: flex;
    flex-direction: column;
}

.promoted-article-image{
    max-width: 100%;
    display: inline-block;
    order:-1;
}

.promoted-article-title{
    margin:0;
    padding:0;    
    background-color: black;
    color:brown;
}


.cool-article{
    display: flex;
    flex-direction: column;
    margin-top: 1em;
}

.cool-article-sidebar-image{
    max-width: 100%;
    display: inline-block;
    order:-1;
}

.cool-article-sidebar-title{
    margin:0;
    padding:0;    
    background-color: black;
    color:rgb(42, 81, 165);
}

@media (min-width:800px){
    .promoted-article-section{
        display: flex;
    }
    
    .promoted-article{
        width: 60%;
    }

    .cool-article-sidebar{
        width: 35%;
        margin-left:2em;

    }

}

/*Section-title*/


.section-title{
    margin:0 auto;
    padding:1em;
    text-align: center;
    border-top:1px solid gray;
    border-bottom:1px solid gray;
    width:95%;
}

/*Breaking news title*/

.breaking-news-container{
    display: flex;
}

.breaking-news-tile{
    margin:0.5em;
    width:30%;
    display: inline-block;
}


/*Latest stories-section*/

.lastest-stories-section{
    margin:0.5em;
}

.latest-story-body{
    display: flex;
    flex-direction: column;
}

.latest-stories-heading{
    margin:0;
    padding:0.5em;
    margin:0.5em 0;
    font-size:1rem;
}

.latest-stories-image{
    /* order:-1; */
    max-width:100%;
}

.latest-stories-info{
    margin:0.5em 0; 
    padding:0.5em;   
}


.material-icons{
    padding:0.20em;
}


.material-icons + span{
    margin:0;
    padding:0.25em;
    
}

.latest-stories-body{
    margin:0.75em 0;
    padding:0.5em;
    border-bottom:1px gray solid;
}


.page-selector ul{
    display:flex;
    list-style: none;
    padding:0;
}

.btn-pages a{
    padding:0;
    margin:0;
    color:steelblue;
    text-decoration: none;
    padding:0.5em;
    /* margin-left:0.5em; */
}

.latest-stories-sidebar{
    padding:1em;
    margin:0.5em 0;  
}

/*Social-media section*/

.social-media{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding:1em;
    text-align: center;
    margin:0.5em 0;
}

.social-media-main{
    padding:1em;
}

.social-media-info{
    margin:0;
    padding:0.50em;
}

.social-media-follower{
    margin:0;
    padding:0.50em;
}

@media (max-width:800px){
    .social-media-main{
        width: 33%;

    }
}

@media (min-width:800px){
    .latest-stories-main-container{
        width:65%;

    }

    .latest-stories-sidebar{
        width:35%;
        border-left:2px solid silver;
    }

   .lastest-stories-section{
        display: flex;
        
   }

   .latest-stories-image{
    max-width: 300px;

   }

   .latest-stories-sub-container{
   display:flex;
   flex-direction: row;  
   margin-bottom:2em; 

    }

  }


/*sponspored ad section*/
.sidebar-sponsor{
    margin:0;
    margin:0.5em 0;
}



 .publicity-image {
    max-width:100%;
    display: inline-block;
} 


/*trending-posts*/

.trending-posts{
    display:flex;
    width:100%;
    padding:0.5em;
    margin-bottom:0.5em;
}

.trending-posts-image{
    order:-1;
    width:30%;
    background-color: gray;
    display:inline-block;
}

.trending-posts-title{
    width:65%;
    margin:0;
    padding:0.25em;
    margin-left:0.75em;
 }

/*image-section */

.image-section{
    padding:1em;
    margin:0.5em 0;
    background-color: #efefef; 
}


.flickr-images-tile{
    display:flex;   
    flex-wrap: wrap;
    margin:0.5em 0;
    padding:0.5em;
}

.flickr-image{
    width:25%;
    padding:0.5em;
    margin:0.5em;
    object-fit: contain;
}

.flickr-images-cat li{
    list-style: none;
    /* padding:0;
    margin:0; */
}

.flickr-images-cat-buttons{
    padding:0;
    margin:0;
    display:flex;
    flex-wrap: wrap;
    padding:0.5em;
    width:90%;
}


.btn-cat{
    text-decoration: none;
    color:white;
    padding:.25em 1em;
    background-color: gray;
    
}

.flickr-cat-list-item{
   padding:0.25em;
   margin: 0.25em;
   
}



/*Images info section*/
.flickr-images-info-body{
    padding:0.5em;
    margin-top:0;
}

/*Footer section*/
.footer{
    background: #efefe2;
    padding:1em;
    margin:0.5em 0;
}

.footer-list{
    padding:0;
    margin:0;
    display:flex;
    text-align: left;;
}

.footer-items{
    list-style: none;
    padding:.10em 0.30em;
    margin-left:1em; 
}

.footer-items:first-child{
    margin-left:0;
}

.copyright{
    text-align: right;
}

/*Buttons*/

.nav-bar a:hover,.nav-bar a:focus,
.btn:hover,.btn:focus
 {
    background-color:rgb(243, 199, 116);
    color:steelblue;  
}