:root{
    --blue-header:#3EBFFF;

}


*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}



main{
    width:100%;

}

body{
    width:100%;
    margin:0;
    padding:0;
    text-align: center;
    font-size:1rem;
    line-height: 1.5;
    letter-spacing: 1.2px;
}


/*typography*/

h1{
    font-size:3.5rem;
    color:white;
}

h2{
    font-size:4rem;
    text-transform: uppercase;
    color:white;
}

h3{
    font-size: 2.0rem;
}

.usp-tile-explanation,.usp-block-3-description{
    font-size: 1.5rem;
}

.testimony-tile{
    font-size:1.5rem;
}

/*images*/
.tag-line-image,.usp-tile-image,.usp-block-3-image{
    max-width: 100%;
    width:100%;
}


/*nav-bar*/
header{
    background-color: var(--blue-header) ;

}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding:1em;
    z-index:4;
}

.hamburger-menu{
    display: none;
}

.hamburger-menu-label{
    position:absolute;
    top:0;
    right:0;
    margin-right:1em;
    height:10%;
    display: flex;
    align-items: center;
}

.hamburger-menu-label span::before,.hamburger-menu-label span,.hamburger-menu-label span::after{
display: block;
height:2px;
width:2em;
background-color: white;
border-radius:2px;
position: relative;
}

.hamburger-menu-label span::before,.hamburger-menu-label span::after{
    content:"";
    position:absolute;

}

.hamburger-menu-label span::before{
    bottom:6px;
}

.hamburger-menu-label span::after{
    top:6px;
}



.hamburger-menu ~ .nav-bar{
    display: none;
}

.hamburger-menu:checked ~ .nav-bar{
    display: block;
}

.nav-bar-list{
    list-style: none;
    border:2px red solid;
    position:relative;
    transform:translate(-100%,20%);
    background-color: white;
    padding:2em;
    
}

.nav-bar-link{
    text-decoration: none;  
    margin-bottom:1em;
    padding:0.5em;
    
}

.nav-bar-link{
    font-size: 2.5rem;
}

.nav-bar-link:visited{
    color:black;

}



/*tag-line*/
.tag-line-tile{
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    background-color: var(--blue-header) ;    
}

.tag-line{
    width:75%;
    margin:0 auto;
    padding:1em;
    z-index: 2;
    
}

.tag-line-arrow,.tag-line-image{
    display: block;
    margin:0 auto;  
}

.tag-line-image{
    max-width:100%; 
    width:100%;
    height:auto;
    /* position: relative;
    bottom:200px;
     */
    transform:translate(0px,-30%);
}




.tag-line-arrow{
    max-width:100%; 
    width:15%;
    z-index: 3;
    margin-top:2em;
    position: relative;
    top:100px;
}
 


/* usp-block*/

.usp-block-1,.usp-block-2,.usp-block-3{
    display: flex;
    flex-direction: column;
}

.usp-block-3-tile-design,.usp-block-3-tile-photo{
    display: flex;
    flex-direction: column;
}

.usp-block-1-image-tile,.usp-block-2-image-tile,.usp-block-3-image{
order:-1;
}


.usp-block-1-description-tile,.usp-block-2-description-tile{
    padding:4em 1.5em 8em;
}

.usp-tile-heading,.usp-tile-explanation{
    padding:1em;
    text-align: center;
    width:100%;
}

.usp-tile-heading{
    font-size:4.5rem;
}

.usp-tile-explanation{
    font-size:2rem;
    color:#AFAFAF
}

.usp-tile-button{
    margin-top:1em;
    font-size:3rem;
    text-decoration: none;
    padding:1em;
    color:black;
    cursor: pointer;
}


.usp-block-3-description{
margin-top:-25em;
height:25em;
}

.usp-block-3-heading{
    font-size:3rem;
    font-weight: bolder;
    margin-bottom:1em;
}

.usp-block-3-text{
    font-size:2.5rem;
    font-weight: bolder;
    padding:1.25em;
}

.usp-block-green{
    color:#1e4557
}

.usp-block-blue{
    color:#2c5d74
}


/*testimonials*/

.testimony-quote,.testimony-tile-heading{
    padding:1em;
}

.testimony-post,.testimony-name{
    order:2;
}

.testimony-tile-heading,.testimony-post{
color:#AFAFAF;
}

.testimony-tile{
    padding:4em 1em;
}

.testimony-tile-heading{
    font-size: 3rem;
    text-transform: uppercase;
    margin-bottom:1em;  
}

.testimony-quote{
    order:1;
    color:#6c7a86 ;
}

.testimony-name{
    font-weight:bolder ;
}

.testimony-post{
    padding:0.5em;
}

.testimony-container{
    display:flex;
    flex-direction: column;
    margin-bottom:4em;
}

.testimony-image{
    border-radius:50%;
    order:-1;
    max-width: 100%;
    padding:1em;
    width:25%;
    margin:0 auto;
}


/*image-tile*/
.image-tile-picture{
    max-width: 100%;
    width:100%;

}
.image-tile-1,.image-tile-2{
    display: flex;
    width:100%;
}

/*footer*/
footer{
    background-color:#90D4C5;
    padding:3em;
}

.footer-logo{
    color:#2d584f;
    font-size:5rem;
    padding:0.5em;
}

.footer-links-container ul{
    list-style: none;
    padding:1em;
    display: flex;
    justify-content: space-between;
    
}

.footer-links{
    font-size:3rem;
    text-decoration: none;
    color:#499484
    
}

.social-media{
    width:100%;
    padding:1em;
    display: flex;
    justify-content: space-around;
}

.social-media-icon{
    max-width: 100%;
    width: 20%;
    margin-top:5em;
    padding:2em;
    display:block;
}


