*{
box-sizing: border-box;
}

body{
    margin:0;
    padding:0;
    color:white;
    font-size:1.0rem;
    background-color:#0E0E0E;
    display:flex;
    flex-direction: column;
    justify-content: center;
    width:100%;
    height:80vh;  
}

h1,p{
    margin:0;
}

/*Typography*/

h1{
    font-size:2rem;
    font-weight: 600;
}

.sub-title,.stats-title{
    color:#A9A9A9;
}

.stats-number{
    font-size: 1.75rem;
    font-weight: 700;
}

.stats-title{
    text-transform: uppercase;
}

.sub-title{
    font-size:1.25rem;
}


/*main container*/
.main-container{
    text-align: center;
    width:85%;
    margin:0 auto;
    border-radius:5%;
    display: flex;
    flex-direction: column; 
    height:80%;
}


.image-container{
    width:100%;
    height:100%;  
    border-radius: 2% 2% 0% 0%;
    background-image: url(../images/image-header-desktop.jpg);
    background-repeat:no-repeat;
    background-position:contain;
    background-size:contain ;
    background-attachment: contain;
    background-color: #9650C0;
    opacity:0.8;
    background-blend-mode: soft-light;
    padding-top:83%;
 }

.content-container{
    background-color:#1C1938;
    padding:1em;
    border-radius: 0% 0% 2% 2%;    
    width: 100%;
    /* height:90%; */
}

@media (min-width:679px){
    .main-container{
        flex-direction: row; 

    }

    .image-container{
        padding:0;
        background-size:cover;
        background-attachment: contain;
        background-position: contain;
        background-repeat: no-repeat;
        /* padding-right:58%; */
        border-radius: 0% 2% 2% 0%;  
    }

    .content-container{
        order:-1;
        border-radius: 2% 0% 0% 2%;   
    }


}


.title,.sub-title{
    padding:0.5em;
}

.hightlight-txt{
    color:#9650C0;
    font-weight: 900;
}

.sub-title{
    line-height:1.5;
}

.stats-container{
    padding:1em;
    width:100%;
}

@media (min-width:679px){
    .stats-container{
        display: flex;
        flex-direction: row; 
        justify-content: center;
    }


}

.stats{
    padding:0.5em;
}

.stats-number,.stats-title{
    padding:0.25em;

}

